

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  // color: $base-text-color;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)
  );

  .message {
    position: relative;
    transform: translate(-5%, -5%);
    font-size: 20px;
    top: 50%;
    left: 50%;
    color: #fff;
  }
}

.loader-open {
  overflow: hidden;
}

.hide {
  display: none;
}

.active {
  font-weight: bold;
  border-bottom: 4px solid #Fa7a48;
  
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 10px;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 2px;
  }

  a:hover,
    a:active {
      text-decoration: none;
    }
  
}
.card {
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.points{
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.story {
  width: 90%;
  margin: 10px auto;
  border: 0;
  padding: 20px;

  .story-title {
    margin-bottom: 4px;
    h4{
      a:link,
      a:visited {
        
        color: #3c3d5e;
      }
    }
    

    
    
    .domain{
      a:link{
        color: #9d9ca0;
        font-size: 12px;
      }
    }
  }

  .story-info {
    color: #9d9ca0;
    display: flex;
    justify-content: space-between;
    span {
      margin: 4px;
    }
    a {
      color: inherit;
    }
    .user{
      a{
        color: #Fa7a48;
      }
    }
  }
}
.post-info, .user{
  width: 50%;
}

.post_grid {
  display: grid;
  grid-template: auto auto auto 1fr / auto 402px;

  .post {
    grid-column: 1 / 4;
    grid-row: 1 / 2
  }
  .metadata {
    grid-column: 1 / 4;
    grid-row: 2 / 3
  }
  .video-info-box {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  .comments {
    grid-column: 1 / 4;
    grid-row: 4 / 5
  }
  
}
@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  .nav-link {
    flex-direction: column;
  }
  .story {
    width: 90%;
    margin-left: 10px;
  }
  .post-info, .user{
    width: 100%;
  }
}